* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Fraunces', serif; */
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    padding: 28px 16px;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

/* img-product */

.img-product {
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0 0; 
    background-image: url(./image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Preview */

.preview-product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 0 24px;
}

.preview-product h2, .preview-product p {
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.preview-product h1 {
    font-family: 'Fraunces', serif;
}

.product-price h1 {
    display: inline-block;
    color: hsl(158, 36%, 37%);
}

.product-price p {
    display: inline-block;
    text-decoration: line-through;
}


.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 6px;
    background-color: hsl(158, 36%, 37%);
}

.btn-add:hover {
    background-color: hsl(158, 30%, 20%);
}

.btn-add i {
    padding-right: 6px;
    font-size: 1rem;
    color: white;
}

.btn-add p {
    display: inline-block;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

/* media query */

@media screen and (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 450px;
    }

    .img-product {
        width: 50%;
        height: 100%;
        flex-grow: 1;
        background-image: url(./image-product-desktop.jpg);
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }

    /* preview */
    .preview-product {
        width: 50%;
    }
}